td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;
  text-align: center;
}
