<div>
  <button mat-raised-button color="primary" style="margin: 10px" (click)="addProduct()">Add Product</button>
  <button mat-raised-button color="accent" style="margin: 10px" (click)="addProduct()">Add Process</button>

  <table mat-table [dataSource]="processed_data | async">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
      <td mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (dblclick)="p.open()">
        {{element[column]}}
        <sat-popover #p hasBackdrop xAlign="start" yAlign="start" (closed)="updateSymbol(element, column, $event)">
          <app-inline-edit [value]="element[column]"></app-inline-edit>
        </sat-popover>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>


  <!-- <table mat-table [dataSource]="processed_data" *ngIf="edit_enabled">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
      <td mat-cell *matCellDef="let element">
        {{element[column]}} -->
  <!--
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table> -->


</div>
